.about-us {
	.main-img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
	.article-img {
		width: 100%;
		height: 400px;
		object-fit: cover;
		margin: 20px 0;
	}

	.container {
		max-width: 800px;
		margin: auto;
		padding: 50px 5%;
		h1 {
			margin-bottom: 30px;
			text-align: center;
			color: #0d4e91;
		}
		h2 {
			font-weight: 400;
			color: #0d4e91;
			text-align: center;
			font-size: 2em;
			padding: 30px;
		}
		strong {
			color: #0d4e91;
		}

		h1,
		h2,
		h3 {
			font-weight: 400;
		}

		.date {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			margin-bottom: 30px;
			hr {
				position: absolute;
				width: 100%;
				z-index: -1;
				border-bottom: none;
				margin-top: -3px;
			}
			h3 {
				background-color: white;
				padding: 10px;
				font-size: 2em;
			}
		}

		ul {
			list-style: none;
			margin-bottom: 30px;
			li {
				margin-bottom: 10px;
			}
		}

		p {
			max-width: 1000px;
			margin: auto;
			margin-bottom: 20px;
		}
	}

	.link{
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #0d4e91;
		border-radius: 10px;
		text-align: center;
		padding: 10px;
		background-color: #0d4e91;

		a{
			color: white;
			text-decoration: none;
		}
	}

	@media (max-width: 768px) {
		img {
			height: 200px;
		}
	}
}
