.burger-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%; // Asegura que la sección ocupe el ancho completo
	position: relative; // Para posicionar elementos si es necesario
	overflow: hidden; // Para evitar desbordes visuales
	max-height: 80vh;
	video {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	.info {
		padding: 15px 50px;
		max-width: 500px;

		h2 {
			font-weight: 400;
			text-align: center;
			margin-bottom: 20px;
			font-size: 2.5em;
			color: #0d4e91;
		}

		p {
			text-align: center;
		}
	}

	@media (min-width: 768px) {
		flex-direction: row; // Opcional: cambia la dirección si lo deseas
		video {
			height: 100vh; // Ocupa toda la altura de la ventana
			object-fit: cover; // Cubre el contenedor sin distorsión
		}

		.info {
			padding: 20px 80px; // Ajusta el padding según sea necesario
			max-width: 600px; // Ajusta el ancho máximo si es necesario
		}
	}
}
