.burger-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	video {
		width: 100%;
	}

	

	.info {
		padding: 15px 50px;
		max-width: 500px;
		h2 {
			font-weight: 400;
			text-align: center;
			margin-bottom: 20px;
			font-size: 2.5em;
			color: #0d4e91;
		}
		p {
			text-align: center;
		}
	}
}
