/* CheckMenu.scss */

/* Contenedor principal */
.check-menu-container {
	display: flex;
	justify-content: center;
	padding: 20px;
	max-width: 800px;
	margin: auto auto 50px;
}

/* Contenedor del menú */
.check-menu {
	width: 100%;
	max-width: 1200px;
	background: repeating-linear-gradient(155deg, #194fba, #194fba 5px, #093da7 5px, #093da7 10px);
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;

	&__info {
		padding: 20px;

		/* Sección con fondo */
		.with-bg {
			background-color: #fafafa;
			border-radius: 10px;
			box-shadow: 0 0px 6px #000000a8;

			/* Encabezado de la sección */
			.section-header {
				text-align: center;
				margin-bottom: 20px;

				h2 {
					font-size: 2em;
					background-color: #333;
					color: white;
					padding: 18px 0 10px;
					margin: 0;
					font-weight: 500;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
				}
			}

			/* Lista de ítems */
			.item-list {
				list-style: none;
				padding: 0 20px;
				margin: 0;

				/* Ítem individual */
				.item-full {
					display: flex;
					align-items: center;
					gap: 10px;

					&__info {
						flex: 1;
						padding-right: 20px;

						h5 {
							font-size: 1.5em;
							font-weight: 500;
							margin: 0 10px 4px 0;
							display: flex;
							align-items: center;
						}

						.description {
							font-size: 1em;
							color: #555;
							line-height: 1.5;
							margin-bottom: 2px;
							display: -webkit-box;
							-webkit-line-clamp: 2; /* Número de líneas que mostrar */
							-webkit-box-orient: vertical;
							overflow: hidden;
							max-height: 50px;
						}

						.prices {
							font-size: 1.1em;
							color: #e30613;
							font-weight: 500;
						}
					}

					/* Contenedor de la imagen */
					.img-container {
						width: 150px;
						height: 150px;
						overflow: hidden;
						border-radius: 10px;
						flex-shrink: 0;

						.item-full__img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							transition: transform 0.3s ease;

							&:hover {
								transform: scale(1.05);
							}
						}
					}
				}

				/* Divisor entre ítems */
				.divider {
					border: none;
					border-top: 1px solid #ddd;
					margin: 0 0 20px;
				}
			}
		}
	}
	.see-complete {
		text-align: center;
		margin-bottom: 20px;
		margin-top: -10px;
		a {
			width: 100%;
			background-color: white;
			text-decoration: none;
			color: black;
			border: 1px solid black;
			padding: 10px 10px 7px;
			font-size: 1.3em;
			border-radius: 5px;
		}
	}
}

/* Responsividad */
@media (max-width: 768px) {
	.check-menu-container {
		padding: 20px;
	}

	.check-menu {
		&__info {
			.with-bg {
				.item-list {
					.item-full {
						align-items: flex-start;

						&__info {
							padding-right: 0;
							margin-bottom: 10px;
						}

						.img-container {
							width: 80px;
							height: 80px;
						}
					}

					.divider {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}
