/* styles/Gallery.scss */

.gallery {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.gallery__item {
	position: relative;
	width: calc(33.333% - 10px); 
	padding-top: 33.333%; 
	overflow: hidden;

	@media (max-width: 768px) {
		width: calc(50% - 10px);
		padding-top: 50%;
	}

	@media (max-width: 480px) {
		width: 100%;
		padding-top: 100%;
	}

	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: 0.3s ease-in-out;
		&:hover{
			transform: scale(1.1);
		}
	}
}

