* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.hide-mb {
	@media (max-width: 1000px) {
		display: none;
	}
}

.hide-pc {
	@media (min-width: 1000px) {
		display: none;
	}
}

.main-page{
	overflow: hidden;
}
