* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.hide-mb {
	@media (max-width: 768px) {
		display: none !important;
	}
}

.hide-pc {
	@media (min-width: 768px) {
		display: none !important;
	}
}

.main-page {
	overflow: hidden;
}

.page {
	margin-top: 70px;
}
