/* styles/Header.css */

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 5%;

	img {
		width: 200px;
		height: auto;
	}

	.action-btns {
		display: flex;
		gap: 10px;
		a {
			text-decoration: none;
			color: black;
			border: 2px solid #0d4e91;
			font-size: 1.5em;
			padding: 5px 10px 1px;
			border-radius: 5px;
			transition: 0.3s ease-in-out;
			&:first-child {
				color: #0d4e91;
				&:hover {
					background-color: #0d4e91;
					color: white;
				}
			}
			&:last-child {
				color: red;
				border-color: red;
				&:hover {
					background-color: red;
					color: white;
				}
			}
		}
	}

	.nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 2rem;
		background: #0d4e91;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
		z-index: 10;

		&.open {
			opacity: 1;
			visibility: visible;
		}

		ul {
			list-style: none;
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			text-align: center;
			font-size: 2em;
			padding: 0;
			margin: 0;

			li {
				transition: transform 0.3s ease-in-out;

				&:hover {
					color: #ff0000;
					transform: scale(1.1);
				}

				a {
					text-decoration: none;
					color: #fff;
					text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
					transition: color 0.3s ease-in-out;

					&:hover {
						color: #ff4343;
					}
				}
			}
		}
	}

	.toggleButton {
		background: none;
		border: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 5px;
		color: #00236a;
		z-index: 11;
		width: 40px;
		&:focus {
			outline: none;
		}

		&.open {
			position: fixed;
			top: 50px;
			right: 50px;
			color: white;
		}
	}

	@media (max-width: 1000px) {
		img {
			width: 40px;
			height: auto;
		}
	}
}
