/* styles/Header.css */

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 5%;
	transition: 0.3s ease-in-out;
	position: fixed;
	top: 0;
	background-color: #ffffffe8;
	backdrop-filter: blur(2px);
	width: 100%;
	z-index: 10;
	padding: 0px 10px;
	height: 70px;
	transition: 0.3s ease-in-out;
	img {
		width: 80px;
		height: auto;
		transition: 0.3s ease-in-out;
	}

	.right-btns{
		display: flex;
		align-items: center;
		gap: 50px;
		flex-grow: 1;
		justify-content: flex-end;
	}
	.nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100dvh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 2rem;
		background: linear-gradient(135deg, #0d4e91, #001f4d);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
		z-index: 15;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
			background-size: 5px 5px;
			opacity: 0.2;
			animation: move-stars 10s linear infinite;
			pointer-events: none;
			z-index: 0;
		}

		&.open {
			opacity: 1;
			visibility: visible;

			ul li {
				opacity: 0;
				transform: translateY(30px);
				animation: fade-in-up 0.5s ease-in-out forwards;
			}

			ul li:nth-child(1) {
				animation-delay: 0.1s;
			}

			ul li:nth-child(2) {
				animation-delay: 0.2s;
			}

			ul li:nth-child(3) {
				animation-delay: 0.3s;
			}

			ul li:nth-child(4) {
				animation-delay: 0.4s;
			}

			ul li:nth-child(5) {
				animation-delay: 0.5s;
			}

			ul li:nth-child(6) {
				animation-delay: 0.6s;
			}
		}

		.close {
			position: absolute;
			top: 40px;
			right: 40px;
			width: 60px;
			height: 40px;
			color: #0d4e91;
			border: 2px solid red;
			background-color: white;
			padding: 5px;
			border-radius: 10px;
			cursor: pointer;
			z-index: 2;
		}

		ul {
			list-style: none;
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			text-align: center;
			font-size: 2em;
			padding: 0;
			margin: 0;
			z-index: 1;

			li {
				opacity: 0;
				transform: translateY(30px);
				transition: transform 0.3s ease-in-out;

				&:hover {
					color: #ff0000;
					transform: scale(1.1);
				}

				a {
					text-decoration: none;
					color: #fff;
					text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
					transition: color 0.3s ease-in-out;

					&:hover {
						color: #ff4343;
					}
				}
			}
		}
	}

	@keyframes fade-in-up {
		0% {
			opacity: 0;
			transform: translateY(30px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes move-stars {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: 100px 100px;
		}
	}

	.toggleButton {
		background: none;
		border: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 5px;
		color: #00236a;
		width: 40px;
		flex-shrink: 0;
		&:focus {
			outline: none;
		}

		&.open {
			position: fixed;
			top: 50px;
			right: 50px;
			color: white;
		}
	}

	@media (max-width: 768px) {
		padding: 0px 10px;
		img {
			width: 100px;
			height: auto;
		}

		.right-btns{
			gap: 10px
		}
	}
}

header.sticky {
	box-shadow: 5px 0px 10px #00000044;
	height: 50px;
	img {
		width: 80px;
		height: auto;
	}
}


.action-btns {
	display: flex;
	gap: 10px;
	justify-content: center;
	a {
		text-decoration: none;
		color: black;
		border: 2px solid #0d4e91;
		font-size: 2em;
		padding: 5px 10px 1px;
		border-radius: 5px;
		transition: 0.3s ease-in-out;
		&:first-child {
			color: #0d4e91;
			&:hover {
				background-color: #0d4e91;
				color: white;
			}
		}
		&:last-child {
			color: red;
			border-color: red;
			&:hover {
				background-color: red;
				color: white;
			}
		}
	}
	@media (max-width: 768px) {
		a {
			font-size: 1.5em;
		}
	}
}
