.info-section {
	padding: 50px 10%;
	display: flex;
	flex-direction: column;
	.logo-in-about {
		width: 200px;
		margin: auto;
		display: block;
		height: auto;
		margin-bottom: 30px;
	}

	.info {
		h2 {
			font-size: 2em;
			font-weight: 400;
			color: #0d4e91;
			margin-bottom: 20px;
			text-align: center;
		}

		p {
			font-size: 1.2em;
			text-wrap: balance;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-top: 20px;
			color: red;
			font-size: 1.2em;
		}
	}

	@media (min-width: 768px) {
		flex-direction: row;
		gap: 20px;
		padding: 100px 10%;
		.logo-in-about {
			width: 300px;
			margin:auto
		}
		.info{
			max-width: 500px;

			a{
				justify-content: flex-start;
			}
		}
	}
}
