.nav-box-slider {
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;

	.slider {
		display: flex;
		width: 100%;
		gap: 20px;
		overflow-x: auto;
		scroll-behavior: smooth;
		padding: 20px;
		scrollbar-width: none; // Ocultar scrollbar en Firefox
		-ms-overflow-style: none; // Ocultar scrollbar en IE
		&::-webkit-scrollbar {
			display: none; // Ocultar scrollbar en Chrome/Safari
		}
	}
	.slide {
		border-radius: 5px;
		a {
			text-decoration: none;
			color: #0d4e91;
			font-size: 1.5em;
			flex-shrink: 0;
			overflow: hidden;
			display: block;
			width: 300px;

			.image-container {
				width: 300px;
				border-radius: 10px;
				height: 220px;
				overflow: hidden;
				img {
					width: 300px;
					height: 220px;
					object-fit: cover;
					object-position: center;
					border-radius: 10px;
					transition: 0.3s ease-in-out;

					&:hover {
						transform: scale(1.05);
					}
				}
			}

			p {
				margin-top: 10px;
				max-width: 100%;
			}
		}
	}
}
